
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: white;
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background-color: whitesmoke;
    box-shadow: black;
}
.extra-buttons button {
    background-color: #282828;
    color: white;
    border: none;
    padding: 8px 15px;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.extra-buttons button:hover {
    background-color: #1DB954;
}

.logo img {
    width: 120px; 
}


.nav-links {
    list-style: none;
    display: flex;
    gap: 25px;
}

.nav-links li {
    display: inline;
}

.nav-links a {
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-weight: 500;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: white; 
}
aside {
    width: 200px;
    background-color: #f4f4f4;
    padding: 15px;
    position: fixed;
    left: 0;
    top: 60px;
    height: 100%;
    overflow-y: auto;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
}

aside ul {
    list-style: none;
    padding: 0;
}

aside ul li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    font-size: 16px;
    font-weight: bold;
    color: #333;
    cursor: pointer;
    transition: background 0.3s ease;
}

aside ul li:hover {
    background: #ddd;
}

